
<h1 class="adminHeader">Legendary Shields Innovation</h1>
<h2>System Adminstrator</h2>
<div style="margin:2% 5%;" class="optionsContainer">
    <p><a href="/admin/orders">Orders</a></p>
    <p><a href="/admin/customOrders">Custom Orders</a></p>
        <p><a href="/admin/woodWorkOrders">Wood Work Orders</a></p>
    <p><a href="/admin/uploadItem">Products (Upload, Delete)</a></p>
    <p><a href="/admin/uploadNews">News (Upload, Delete)</a></p>
    <p><a href="/admin/uploadStartContent">StartContent (Upload, Delete)</a></p>
    <!-- <p><a href="/admin/all">View Products</a></p> -->
    <!-- <p><a href="/admin/all">Insert Promotions</a></p> -->
</div>
<style>
    h2{
        text-align: center;
    }
</style>