
<h1 class="adminHeader">Legendary Shields Innovation</h1>
<h2>System Designer</h2>
<div style="margin:2% 5%;" class="optionsContainer">
    <p><a href="/admin/orders">Orders</a></p>
    <p><a href="/admin/customOrders">Custom Orders</a></p>
    <p><a href="/admin/woodWorkOrders">Wood Work Orders</a></p>
  
</div>
