
<h1 class="adminHeader">Legendary Shields Innovation</h1>
<h2>System Secretary</h2>
<div style="margin:2% 5%;" class="optionsContainer">

    <p><a href="/admin/uploadItem">Products (Upload, Delete)</a></p>
 
</div>
<style>
    h2{
        text-align: center;
    }
</style>