
<style>
  .row .inputbox select {
    font-size: 15px;
  }
  .row .inputbox textarea {
    padding: 10px;
    font-size: 10px;
    width: 60vw;
    height: 120px;
  }
</style>

<section class="uploadSection" id="uploadSection">
  <!-- <h1 class="heading"> <span>contact</span> us </h1> -->

  <div class="row">
    <form
      action="/admin"
      method="POST"
      enctype="multipart/form-data"
      id="uploadSubmit"
    >
      <h2 class="adminHeader">Insert Item</h2>

      <div class="inputbox">
        <!-- <label for="brandName"><strong>Enter brandname:</strong></label> -->
        <input
          style="text-transform: lowercase"
          type="text"
          id="name"
          name="brandName"
          placeholder="e.g Dior,gucci,classic shit"
          required
        />
      </div>
      <div class="inputbox">
        <select name="type" id="type">
          <option value="ordinary">Ordinary</option>
          <option value="promo">Promotion</option>
        </select>
      </div>

  
      <div class="inputbox">
        <!-- <label for="category"><strong>select category:</strong></label> -->
        
        <select name="category" id="category">
          <option value="Mens Watch">Mens Watch</option>
          <option value="Women Watch">Women Watch</option>
          <option value="Unisex Watch">Unisex Watch</option>
          <option value="Necklaces">Necklaces</option>
          <option value="Rings">Rings</option>
          <option value="Neck chain">Neck chain</option>
          <option value="Bracelet">Bracelet</option>
          <option value="Custom Product">Custom Product</option>
        </select>
      </div>
      <div class="inputbox" id="typeInputBox">
        <!-- <label for="price"><strong>Enter price:</strong></label> -->
        <input
          type="number"
          min="4"
          id="oldPrice"
          name="oldPrice"
          placeholder="enter old price"
        />
      </div>
      <div class="inputbox">
        <!-- <label for="price"><strong>Enter price:</strong></label> -->
        <input
          type="number"
          min="4"
          id="price"
          name="price"
          placeholder="enter new price"
          required
        />
      </div>

      <div class="inputbox">
        <!-- <label for="quantity"><strong>Enter quantity:</strong></label> -->
        <input
          type="number"
          min="1"
          id="quantity"
          name="quantity"
          placeholder="quantity"
          required
        />
      </div>

      <div class="inputbox">
        <!-- <label for="description"><strong>Enter Description</strong></label> -->
        <textarea
          id="description"
          name="description"
          cols="50"
          rows="5"
          placeholder="description"
          required
        ></textarea>
      </div>

      <div class="inputbox file">
        <label for="mainImg">
          <h3>upload main Image:</h3>
        </label>
        <input type="file" name="mainImg" required />
      </div>

      <div class="inputbox file">
        <label for="images">
          <h3>upload related Images:</h3>
        </label>
        <input id="uploadfiles" type="file" name="images" multiple required />
      </div>

      <button type="submit" id="submit">submit</button>
    </form>
  </div>

  <div class="preview"></div>
</section>

<script>
  let image = document.getElementById("uploadfiles");
  let uploadSubmit = document.getElementById("uploadSubmit");
  let submit = document.getElementById("submit");
  let preview = document.querySelector(".preview");
  let type = document.getElementById('type');
  let typeInputBox = document.getElementById('typeInputBox');

  typeInputBox.style.display = 'none';
  const imageList = image.files;

  type.addEventListener("change", (e)=>{
    if(e.target.value == 'promo'){
      typeInputBox.style.display = 'flex';
    }else{
      typeInputBox.style.display = 'none';
    }
   
  })

  submit.addEventListener("click", (e) => {
    console.log(image.files);
    if (image.files.length > 4) {
      alert("you can only upload a maximum of 4 images");
      for (var i = 0; i < image.files.length; i++) {
        preview.innerHTML += `<p>${image.files[i].name}</p>`;
      }
    } else if (image.files.length == 0) {
      alert("please select image to upload");
    } else {
      uploadSubmit.submit();
    }
  });
</script>
