<% if (locals.message !=null && locals.url !=null) { %>
<div class="messageBg">
  <div class="message">
    <br>
    <p><%=message%></p>
    <%if(transactionIdRequest){%>
    <form method="post" action="<%=txnUrl%>" class="partialForm">
    <input type="text" name='transactionId'placeholder="Enter txnID:xxxxxxxx" /> 
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <button type="submit">Confirm</button>
        <button><a href="<%=url%>">Pay later</a></button>
      </div>
    </form>
    <% }else{%>
    <button><a href="<%=url%>"> Done</a></button>
    <% } %>
  </div>
</div>
<% } %>

<style>
    .partialForm{
        width: fit-content;
        height: fit-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }
    .partialForm input{
        width: 100%;
    }
  .messageBg {
    display: fixed;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.871);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* visibility: hidden; */
  }
  .message {
    border-radius: 5px;
    background-color: #ffffff;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: auto;
    width: 70%;
    max-width: 300px;
    height: fit-content;
    padding: 10px;
    box-shadow: 2px 2px 8px;
    z-index: 1000;
    text-align: center;
  }

  .message button {
    border: none;
    padding: 8px;
    border-radius: 8%;
    margin: 5%;
    background-color: black;
    width: 100px;
    text-align: center;
  }
  .message button a, .message button {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
  }
  .message p {
    font-size: 18px;
    color: black;
    color: rgb(0, 0, 0);
  }
</style>
<script>
  const messageBg = document.querySelector(".messageBg");
  //messageBg.style.display = "none";
</script>