<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="stylesheet" href="/css/style.css" />
      <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" > -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <link rel="stylesheet" href="/Ncss/bootstrap.css" />
      <title>Legendary Shield</title>
    </head>
</head>
<body>
    <!-- Before  -->
    <div class="overlay">
        
    </div>
     <!-- Header Section -->
     <section id="header">

        <div class="icons" id="cart" >
            <a href="/cart" class="fa fa-shopping-cart cart"></a>
            <span id="cartCounter"></span>
        </div>
       
        <div class="logo">
            <a href="/">
                <img src="https://legendaryshield.s3.ap-south-1.amazonaws.com/images/lsiLogo.png" class="logo" alt="LS logo">
            </a>
        </div>
      </div>
      <div class="menuContent">
        <ul id="navbar">
            <div class="storeNavbar">
                <span class="storeNavbarClose" >x</span>

                <div class=" container accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                Jewelry
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="/store/Necklaces">Necklaces</a></li>
                                    <li><a href="/store/Rings">Rings</a></li>
                                    <li><a href="/store/Bracelet">Bracelets</a></li>
                                    <li><a href="/store/Neck chain">Neck chain</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Watches
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li><a href="/store/Mens Watch">Men's watch</a></li>
                                    <li><a href="/store/Women Watch">Women's watch</a></li>
                                    <li><a href="/store/Unisex Watch">Unisex watch</a></li>
                                    <li><a href="/store/Classic watch">Classic watch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Custom brands
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <ul>
                                <li><a href="/custom">All custom items</a></li>
                                
                                
                            </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Woodwork
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                            <ul>
                                <li><a href="/woodwork">all woodwork items</a></li>
                               
                            </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <li><a class="active" href="/">Home</a></li>
            <li class="store">Store</li>
            <li class="about" onclick="scrollToAbout()"><a href="">About us</a></li>
            <!-- <li><i id="searchBar" class="fa fa-search"></i></li> -->
            <li><a href="/user"><i id="userBar" class="fa fa-user" ></i></a></li>

        </ul>
        <div class="search">
            <form action="/search" method="post" id="submitForm">
                <div class="search-input">
                    <input type="search" name="item" id="itemSearched" placeholder="search...">
                    <div class="autocom-box">

                    </div>
                    <i id="searchBarSubmit" class="fa fa-search"></i>
                </div>
            </form>
        </div>
    </div> 
      <div id="mobile" style="font-size: 30px;">
        <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
    </div>
    </section>

        
    
        <!-- <div class="iconsMobile"> -->

            
           
            <!-- <div class="icons" >
                <i id="searchBar" class="fa fa-search"></i>
            </div> -->
        <!-- </div> -->
        
     <!-- </section> -->
    
    <!-- Before  -->
    <%- include('../partials/message') %>
    <!-- Middle -->

    <%- body %>

    <!-- Middle -->

    <!-- After  -->
    <footer>
      <div class="col">
        <h4>Contact</h4>
        <p>
          <strong>Address: </strong> St Fergus flat 2 mpalume, riverside Kitwe
        </p>
        <p><strong>Phone: </strong> +260972012369 , +260765034585</p>
        <p><strong>Email: </strong> zimba028@gmail.com</p>
        <p><strong>Hours: </strong> 24/7</p>
       
      </div>

      <div class="col">
    
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
        <a href="/admin">admin</a>

        <div class="follow">
            <h4>Follow us</h4>
            <div class="icons">
              <a href="http://www.facebook.com/LegendaryShieldsInnovations?mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
              <!-- <i class="fa fa-twitter"></i> -->
              <a href="http://instagram.com/legendary_shields_innovations?igshid=NTc4MTIwNjQ2YQ=="><i class="fa fa-instagram"></i></a>
              <a href="http://wa.me/c/260786034585"><i class="fa fa-whatsapp"></i></a>
              <!-- <i class="fa fa-whatsapp"></i> -->
            </div>
          </div>
      </div>

      <div class="BelowLogo">
        <!-- <img class="logo" src="img/slogo.jpg" alt=""> -->
        <!-- <img class="logo" src="images/img1.png" alt=""> -->
      </div>
    </footer>

    <div class="screen">
        <div class="content">
          <div class="close-button">&times;</div>
            <br>
            <br>
            <br>
            <section>
                
            </section>
        </div>
      </div>

      <div id="screenLoader">
        <%- include('../partials/loader') %>
      </div>
    <!-- After  -->
  </body>
  <script src="/Njs/bootstrap.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/search.js"></script>
  <script>
const closeButton = document.querySelector('.close-button');
const screen = document.querySelector('.screen');
closeButton.addEventListener('click', () => {
  screen.classList.remove('open');
});
   document.getElementById('cartCounter').innerText =localStorage.getItem("cartList").split("+").length - 1
   const cart = localStorage.getItem('cartList').split('+')
//    cart.forEach(cartItem=>{
//        if(cartItem){
//         console.log(JSON.parse(cartItem))
//        }
//    })
  </script>
  
</html>
