<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="css/style.css" >
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" > -->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="Ncss/bootstrap.css">
        <title>legendary shield</title>
    </head>
</head>
<body>
    <!-- Before  -->

    <div class="overlay">
        <h1>x</h1>
     </div>
     <!-- Header Section -->
     <section id="header">
        <!-- <a href="#"><img style="border-radius: 65px; height: 60px; " src="images/img1.png" class="logo" alt=""></a> -->
        <div>
            <h2>LEGENDARY SHIELDS</h2>
        </div>
        <div>
            <ul id="navbar">
                <!-- <li><a href="/"><h2>LEGENDARY SHIELDS</h2></a></li> -->
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/">Store</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contacts">About us</a></li>

            </ul>
        </div> 
        <div>
            <!-- <input type="search" name="item" id="itemSearched"> -->
            <i id="searchBar" class="fa fa-search"></i>
        </div>
        <div id="mobile" style="font-size: 30px;">
            <i id="bar" class="fa fa-outdent"></i>
        </div>
     </section>
     <!-- <marquee behavior="scroll" direction="right">it's still under construction ek seh</marquee/> -->


    <!-- Before  -->

    <!-- Middle -->
    
    <%- body %>
    
    <!-- Middle -->
    
    <!-- After  -->

    <footer>

        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address: </strong> ipsum dolor sit amet consectetur, adipisicing elit.</p>
            <p><strong>Phone: </strong> +260 234 223 123</p>
            <p><strong>Hours: </strong> 24/7</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-whatsapp"></i>
                </div>
            </div>
        </div>

        <div class="col about">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>
        </div>

       <div class="BelowLogo">
        <!-- <img class="logo" src="img/slogo.jpg" alt=""> -->
        <!-- <img class="logo" src="images/img1.png" alt=""> -->

       </div>

    </footer>

    <!-- After  -->


</body>
    <script src="Njs/bootstrap.js"></script>
    <script src="js/script.js"></script>
</html>