<section>
    <h2 id="customDemo" class="<%=details%>"><%=details%></h2>
</section>


<script>
    let customName = document.getElementById('customDemo');
    console.log(customName.className)
</script>