<section class="custom">
     <!-- <h1>Custom Item</h1> -->

     <div class="items">
     <h1>Custom Item</h1>
     

        <ul>
            <li>
                <img src="images/icons/IMG_0730.jpg" alt="Wallets">
                <span>Wallets</span>
            </li>
            <li>
                <img src="images/icons/IMG_0732.png" alt="Gift Cards">
              <span>Gift Cards</span>    
            </li>
            <li>
                <img src="images/icons/IMG_0741.png" alt="Flasks">
               <span>Flasks</span>    
            </li>
            <li>
                <img src="images/icons/IMG_0736.jpg" alt="Pouches">
                <span>Pouches</span>
            </li>
            <li>
                <img src="images/icons/IMG_0738.jpg" alt="Diaries">
                <span>Diaries</span>
            </li>
            <li>
                <img src="images/icons/IMG_0740.png" alt="Mug cups">
                <span>Mug cups</span>
            </li>
            <!-- <li></li> -->
        </ul>
        <div>
        
        </div>
     </div>

</section>