<section class="about">
    <div class="top">
        <h2>LEGENDARY SHIELD INNOVATIONS</h2>
        <p>Legendary shield innovations specializes in wood production and product retail. Our main objective is to produce the
            highest quality products and experiences for our customers. We guarantee outstanding workmanship and customer
            satisfaction at all times.</p>
    </div>
    <div class="middle">
    <hr>
        <legend><h3>Main Services</h3></legend>
        <ul>
            <li>Jewelry retail</li>
            <li>Dairies retail and customization</li>
            <li>Woodwork Design, production and Retail</li>
            <li>Wallets retail and customization</li>
        </ul>
    <hr>
        <p>
            We operate nationwide and in the process of expanding globally. Our headquarters are in Kitwe, Copperbelt Province. We
            hold ourselves responsible for managing customer expectations in delivering superior levels of online services in order
            to meet the demand country wide.
        </p>
        <p>
          <strong>Principal customer industries include</strong>: Private Residential,Gift Shops
        ,Jewelry Shops,Schools,Corporate Bodies
        </p>
    </div>
    <div class="bottom">
        <p>
            All Legendary Shield employees are trained and qualified to provide a service of the highest quality. Legendary Shield
            adheres to all Health & Safety regulations and employees are regularly trained to maintain their skills & guarantee
            their safety and the satisfaction of customers.
        </p>
        <!-- <span><strong>Some of our featured works include: </strong></span> -->
        <!-- <div class="featuredProducts">

        </div> -->
    </div>
</section>

<style>
    .about{
        padding: 2% 10%;
    }
    .middle ul{
        padding-left: 80%;
    }
    .middle ul li{
       list-style: none;
       text-indent: 5px;
    }
</style>