
    <section id="hero" >        
        <div id="carouselExampleControls" class=" carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/img10.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img2.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img3.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> adipisicing elit. Dolores, praesentium!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img6.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> elit. Optio accusamus hic nihil explicabo.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img9.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> elit. Ab repudiandae laudantium nostrum!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img5.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> amet consectetur adipisicing elit. Sequi</p>
                </div>
              </div>
            </div>
            <span id="viewBtn">
                view more
            </span>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden" >Previous</span>
              <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>              
            </button>
          </div>
    </section>
    
        <!-- Feature Section -->

    <section id="craftMen">
       <div id="craftMenContent">
          <h2>The CraftMen' Hub</h2>
          <p>
            Find unique products designed by us, all over the world
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Labore voluptatibus possimus incidunt?</p>
          <!-- <button class="viewBtn">show all</button> -->
       </div>
       <div id="craftMenItems">
          <div class="item">
             <div class="itemImg">
                <img width="200" src="images/img10.png" alt="image10">
             </div>
             <div class="itemDetails">
                <p>Lorem</p>
                <span>$23.00</span>
             </div>
          </div>
          <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img5.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Lorem</p>
               <span>$23.00</span>
            </div>
         </div>
         <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img9.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Lorem</p>
               <span>$23.00</span>
            </div>
         </div>
         <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img2.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Lorem</p>
               <span>$23.00</span>
            </div>
         </div>
       </div>
    </section>
    
        <!-- Product Section -->
     <section class="productsAd">
        <div id="product1" class="section-p1">
            <h2>The Wrist watch Collection</h2>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <div class="pro-container">
               <!-- ///////////product 1///////////// -->
               <div class="pro">
                  <a id="linkTag" id="linkTag" href="/store/Mens Watch">
                    <img src="images/img10.png" alt="">
                    <div class="des">
                        <span>Men's Watch</span>
                        <h5>Lorem</h5>
                        <span>$55.00</span>
                    </div>
                    <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
               </div>
               <!-- ///////////product 2///////////// -->
               <div class="pro">
                   <a id="linkTag" href="/store/Womens Watch">
                    <img src="images/img2.png" alt="">
                   <div class="des">
                       <span>Women's Watch</span>
                       <h5>lorem</h5>
                       <span>$55.00</span>
                   </div>
                   <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                   </a>
               </div>
               <!-- ///////////product 3///////////// -->
               <div class="pro">
                  <a id="linkTag" href="/store/Unisex Watch">
                    <img src="images/img9.png" alt="">
                    <div class="des">
                        <span>Unisex Watch</span>
                        <h5>lorem</h5>
                        <span>$55.00</span>
                        <!-- <h3>K9,500.00</h3> -->
                    </div>
                    <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
               </div>
            </div>
            <!-- <button class="viewBtn">view more</button> -->
       </div>
       <div id="product1" class="section-p1">
           <h2>The Jewelry Collection</h2>
           <p>Lorem ipsum dolor sit amet consectetur.</p>
           <div class="pro-container">
              <!-- ///////////product 4///////////// -->
              <div class="pro">
              <a id="linkTag" href="/store/Necklaces">
                <img src="images/img5.png" alt="">
                <div class="des">
                    <span>Necklaces</span>
                    <h5>lorem</h5>
                    <span>$55.00</span>
                    <!-- <h3>K15,500.00</h3> -->
                </div>
                <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
              </div>
              <!-- ///////////product 5///////////// -->
              <div class="pro">
                  <a id="linkTag" href="/store/Rings">
                    <img src="images/img3.png" alt="">
                  <div class="des">
                      <span>Rings</span>
                      <h5>lorem</h5>
                      <span>$55.00</span>
                      <!-- <h3>K3,500.00</h3> -->
                  </div>
                  <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
              </div>
              <!-- ///////////product 6///////////// -->
              <div class="pro">
                  <a id="linkTag" href="/store/Bracelets">
                    <img src="images/img2.png" alt="">
                  <div class="des">
                      <span>Bracelet</span>
                      <h5>lorem</h5>
                      <span>$55.00</span>
                      <!-- <h3>K11,500.00</h3> -->
                  </div>
                  <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
              </div>
           </div>
           <!-- <button class="viewBtn">view more</button> -->
      </div>
      
    <div class="customImg">
       <img src="images/customImg.png"  alt="Legendary Shield">
    </div>

    <div id="product1" class="section-p1">

       <h2>The Custom Collection</h2>
       <p>Lorem ipsum dolor sit amet consectetur.</p>
       <div class="pro-container">
          <!-- ///////////product 4///////////// -->
          <div class="pro">
              <a id="linkTag" href="/custom">
                <img src="images/img5.png" alt="">
                 <div class="des">
                  <span>Wallet</span>
                  <h5>lorem</h5>
                  <span>$55.00</span>
                  <!-- <h3>K15,500.00</h3> -->
              </div>
              <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
          </div>
          <!-- ///////////product 5///////////// -->
          <div class="pro">
            <a id="linkTag" href="/custom">
                <img src="images/img3.png" alt="">
                <div class="des">
                    <span>Flask</span>
                    <h5>lorem</h5>
                    <span>$55.00</span>
                </div>
                <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </a>
          </div>
          <!-- ///////////product 6///////////// -->
          <div class="pro">
              <a id="linkTag" href="/custom">
                <img src="images/img2.png" alt="">
                <div class="des">
                  <span>Key order</span>
                  <h5>lorem</h5>
                  <span>$55.00</span>
              </div>
              <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
          </div>
       </div>
       <!-- <button class="viewBtn">view more</button> -->
       
      </div>
     </section>