
    <section id="hero" >        
        <div id="carouselExampleControls" class=" carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/img10.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Carry Your Personality with Our Keychains.</p>
                </div>
              </div>
              
              <div class="carousel-item">
                <img src="images/img2.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Transform your neckline with our stunning neck chains & necklaces.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img3.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Find Your Perfect Fit with Our Sleek Neck Chains.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img6.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Unleash Your Inner Glam with Our Stunning Rings.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img9.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p>Timeless Style at Your Wrist with Our Watches</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/img5.png" class="d-block w-100" alt="...">
                <div class="imgText">
                    <p> Elevate Your Look with Our Elegant Necklaces.</p>
                </div>
              </div>
            </div>
            <span id="viewBtn">
                view more
            </span>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden" >Previous</span>
              <!-- <p class="prevBtn">&DoubleLeftArrow;</p> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>              
            </button>
          </div>
    </section>
    
        <!-- Feature Section -->

    <section id="craftMen">
       <div id="craftMenContent">
          <h2>The CraftMen' Hub</h2>
          
          <p>Our products are specially designed by us to provide you with one-of-a-kind items that you won't find anywhere else.</p> 
            <p>From stunning jewelry to stylish accessories and more.</p>
          <!-- <button class="viewBtn">show all</button> -->
       </div>
       <div id="craftMenItems">
          <div class="item">
             <div class="itemImg">
                <img width="200" src="images/img10.png" alt="image10">
             </div>
             <div class="itemDetails">
                <p>Keychains</p>
                <span>from K50.00</span>
             </div>
          </div>
          <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img5.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Necklaces</p>
               <span>from K100.00</span>
            </div>
         </div>
         <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img9.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Jewerly</p>
               <span>from K23.00</span>
            </div>
         </div>
         <div class="item">
            <div class="itemImg">
               <img width="200" src="images/img2.png" alt="image10">
            </div>
            <div class="itemDetails">
               <p>Neck Chains</p>
               <span>from K90.00</span>
            </div>
         </div>
       </div>
    </section>
    
        <!-- Product Section -->
     <section class="productsAd">
        <div id="product1" class="section-p1">
            <h2>The Wrist watch Collection</h2>
            <p>Timeless Elegance, Discover Our Wrist Watch Collection</p>
            <div class="pro-container">
               <!-- ///////////product 1///////////// -->
               <div class="pro">
                  <a id="linkTag" id="linkTag" href="/store/Mens Watch">
                    <img src="images/img10.png" alt="">
                    <div class="des">
                        <span>Men's Watches</span>
                        <h5>Modern Styles</h5>
                        <span>from K150.00</span>
                    </div>
                    <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
               </div>
               <!-- ///////////product 2///////////// -->
               <div class="pro">
                   <a id="linkTag" href="/store/Womens Watch">
                    <img src="images/img2.png" alt="">
                   <div class="des">
                       <span>Women's Watches</span>
                       <h5>Elegant Designs</h5>
                       <span>from K100.00</span>
                   </div>
                   <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                   </a>
               </div>
               <!-- ///////////product 3///////////// -->
               <div class="pro">
                  <a id="linkTag" href="/store/Unisex Watch">
                    <img src="images/img9.png" alt="">
                    <div class="des">
                        <span>Unisex Watches</span>
                        <h5>Updated Selection</h5>
                        <span>from K100.00</span>
                        <!-- <h3>K9,500.00</h3> -->
                    </div>
                    <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
               </div>
            </div>
            <!-- <button class="viewBtn">view more</button> -->
       </div>
       <div id="product1" class="section-p1">
           <h2>The Jewelry Collection</h2>
           <p>Discover our exquisite jewelry collection, crafted with passion and designed to make you shine.</p>
           <div class="pro-container">
              <!-- ///////////product 4///////////// -->
              <div class="pro">
              <a id="linkTag" href="/store/Necklaces">
                <img src="images/img5.png" alt="">
                <div class="des">
                    <span>Necklaces</span>
                    <h5>Glamorous</h5>
                    <span>from K120.00</span>
                    <!-- <h3>K15,500.00</h3> -->
                </div>
                <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
              </div>
            
              <div class="pro">
                  <a id="linkTag" href="/store/Rings">
                    <img src="images/img3.png" alt="">
                  <div class="des">
                      <span>Rings</span>
                      <h5>Timeless and Classic</h5>
                      <span>from K100.00</span>
                      <!-- <h3>K3,500.00</h3> -->
                  </div>
                  <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
              </div>
             
              <div class="pro">
                  <a id="linkTag" href="/store/Bracelets">
                    <img src="images/img2.png" alt="">
                  <div class="des">
                      <span>Bracelet</span>
                      <h5>Radiant</h5>
                      <span>from K90.00</span>
                      <!-- <h3>K11,500.00</h3> -->
                  </div>
                  <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
                  </a>
              </div>
           </div>
           <!-- <button class="viewBtn">view more</button> -->
      </div>
      
    <div class="customImg">
       <img style="height: fit-content;" src="images/customImg.png"  alt="Legendary Shield">
    </div>

    <div id="product1" class="section-p1">

       <h2>The Custom Collection</h2>
       <p>Our Custom Collection offers a unique opportunity to create your own personalized jewelry pieces. </p>
       <p> Let your imagination run wild as we work with you to bring your vision to life.</p>
       <div class="pro-container">
          <!-- ///////////product 4///////////// -->
          <div class="pro">
              <a id="linkTag" href="/custom">
                <img src="images/img5.png" alt="">
                 <div class="des">
                  <span>Wallet</span>
                  <h5>Classic and Stylish</h5>
                  <span>fom K90.00</span>
                  <!-- <h3>K15,500.00</h3> -->
              </div>
              <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
          </div>
          <!-- ///////////product 5///////////// -->
          <div class="pro">
            <a id="linkTag" href="/custom">
                <img src="images/img3.png" alt="">
                <div class="des">
                    <span>Flask</span>
                    <h5>Personalized Creations</h5>
                    <span>from K90.00</span>
                </div>
                <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </a>
          </div>
          <!-- ///////////product 6///////////// -->
          <div class="pro">
              <a id="linkTag" href="/custom">
                <img src="images/img2.png" alt="">
                <div class="des">
                  <span>Key Holder</span>
                  <h5>Custom Crafts</h5>
                  <span>from K50.00</span>
              </div>
              <a id="linkTag" href="#"><i class="fa fa-shopping-cart cart"></i></a>
              </a>
          </div>
       </div>
       <!-- <button class="viewBtn">view more</button> -->
       <br>
       <br>
       <br>
       <section class="about">
        <div class="top">
            <h2>LEGENDARY SHIELD INNOVATIONS</h2>
            <p>Legendary shield innovations specializes in wood production and product retail. Our main objective is to produce the
                highest quality products and experiences for our customers. We guarantee outstanding workmanship and customer
                satisfaction at all times.</p>
        </div>
        <div class="middle">
        <hr>
            <legend><h3>Main Services</h3></legend>
            <ul>
                <li>Jewelry retail</li>
                <li>Dairies retail and customization</li>
                <li>Woodwork Design, production and Retail</li>
                <li>Wallets retail and customization</li>
            </ul>
        <hr>
            <p>
                We operate nationwide and in the process of expanding globally. Our headquarters are in Kitwe, Copperbelt Province. We
                hold ourselves responsible for managing customer expectations in delivering superior levels of online services in order
                to meet the demand country wide.
            </p>
            <p>
              <strong>Principal customer industries include</strong>: Private Residential,Gift Shops
            ,Jewelry Shops,Schools,Corporate Bodies
            </p>
        </div>
        <div class="bottom">
            <p>
                All Legendary Shield employees are trained and qualified to provide a service of the highest quality. Legendary Shield
                adheres to all Health & Safety regulations and employees are regularly trained to maintain their skills & guarantee
                their safety and the satisfaction of customers.
            </p>
            <!-- <span><strong>Some of our featured works include: </strong></span> -->
            <!-- <div class="featuredProducts">
            </div> -->
        </div>
    </section>
    
    <style>
        .about{
            padding: 2% 10%;
        }
        .middle ul{
            padding-left: 80%;
        }
        .middle ul li{
           list-style: none;
           text-indent: 5px;
        }
    </style>
      </div>
     </section>